{% extends 'store/layouts/main.html' %}
{% load staticfiles %}
{% block title %}Collectionsview{% endblock title %}

{% block content %}
<div class="py-3 bg-info">
    <div class="container">
        <a class="text-white" href="{% url 'home' %}">首頁 &nbsp;/ &nbsp;</a>
        <a class="text-white" href="{% url 'collections' %}">商品 &nbsp;/ &nbsp;</a>
        <a class="text-white" href="{% url 'collectionsview' category.slug %}"> {{category.name}}</a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt-2">{{category.name}}</h1>
            <hr>
            <div class="row">
                {% for item in products %}
                <div class="col-md-3 mb-3">
                    <div class="card">
                        <a href="{% url 'productview' item.category.slug item.slug %}">
                            <div class="card-body">
                                <div class="category-image">
                                    <img src="{{item.product_imageURL}}" height="280px" class="w-100" alt="product image">
                                </div>
                                <h4 class="text-center mt-2">{{item.name}}</h4>
                                <span class="float-start"><s>$ {{item.original_price}}</s></span>
                                <span class="float-end mb-2"> {{item.selling_price}} 元</span>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
    
{% endblock content %}

{% block scripts %}
<script type="">
    {% for message in messages %}
        alertify.success('{{message}}');
    {% endfor %}
</script>
{% endblock scripts %}
