{% extends 'store/layouts/main.html' %}
{% block title %}Order{% endblock title %}
{% block css %}
<style>
    .order-height {
        height: 500px;
        overflow-y: auto;
    }
</style>
{% endblock css %}

{% block content %}
<div class="container mt-3">
    <h3 class="border-bottom my-4 pb-1 text-center">訂單查詢</h3>
    <div class="row">
        <div class="col-md-3">
            {% include 'store/auth/dash_siderbar.html' %}
        </div>
        <div class="col-md-9">
            <div class="card shadow">
                <div class="card-body order-height">
                    {% if orders %}
                    <table class="table table-bordered">
                        <thead>
                            <tr class="text-center">
                                <th>日期</th>
                                <th>訂單編號</th>
                                <th>狀態</th>
                                <th>總價</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in orders %}
                                <tr class="align-middle text-center">
                                    <td>{{item.create_at}}</td>
                                    <td>{{item.tracking_num}}</td>
                                    <td class="text-center">{{item.status}}</td>
                                    <td class="text-center">{{item.total_price}}</td>
                                    <td class="text-center">
                                        <a href="{% url 'orderview' item.tracking_num %}" class="btn btn-primary px-3">
                                        <i class="fa fa-eye"></i> 查看</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <h2 class="text-center text-danger" style="margin-top: 200px;">尚無訂單 ~</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
    


{% endblock content %}

{% block scripts %}
<script type="">
    {% for message in messages %}
        swal("{{message}}", "可至 '我的訂單' 查詢詳細資料", "success");
    {% endfor %}
</script>
{% endblock scripts %}