{% extends 'store/layouts/main.html' %}
{% block title %}password_reset_complete{% endblock title %}
{% block css %}
<style>
    label {
        font-size: 18px;
    }
</style>
{% endblock css%}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow text-center"> 
                <div class="card-header">
                    <h3 class="mb-0 text-center">
                        密碼重製
                    </h3>
                </div>
                <div class="card-body">
                    <h3 class="my-5">重設密碼成功 ! !</h3>     
                    <div class="mt-3">去登入?<a href="{% url 'login' %}" class="ms-3">登入</a></div>
                </div>          
            </div>
        </div>
    </div>
</div>

{% endblock content %}