{% extends 'store/layouts/main.html' %}
{% load crispy_forms_tags %}
{% block title %}password_reset{% endblock title %}
{% block css %}
<style>
    label {
        font-size: 18px;
        margin-bottom: 10px;
    }
</style>
{% endblock css%}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-header text-center">
                    <h3 class="mb-0 text-center">
                        密碼重製
                    </h3>
                </div>
                <div class="card-body">
                    <form action="." method="POST">
                        {% csrf_token %}
                        {{form|crispy}}
                        <div class="d-grid gap-2 mt-3">
                            <button type="submit" class="btn btn-primary">送出</button>
                        </div>
                        <div class="text-center mt-3">想起密碼?<a href="{% url 'login2' %}" class="ms-3">登入</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let label = document.getElementsByTagName('label')
    label[0].innerHTML = '電子信箱'
</script>

{% endblock content %}