{% extends 'store/layouts/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Profile_setting{% endblock title %}
{% block css %}
<style>
    .form label {
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>
{% endblock css%}
{% block content %}
<div class="container mt-3">
    <a href="{% url 'profile' %}" class="btn btn-warning btn-sm float-end"><i class="fa fa-reply"></i> 返回</a>
    <h3 class="border-bottom my-4 pb-1 text-center">個人資料修改</h3>
    <div class="row">
        <div class="col-md-3">
            {% include 'store/auth/dash_siderbar.html' %}
        </div>
        <div class="col-md-9">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 text-center py-5">
                            <img src="{% static profile.profile_imageURL %}" class="align-middle" width="300px" alt="Profile_image">
                        </div>
                        <div class="col-md-6 form">
                            <form action="{% url 'profile_setting' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{form|crispy}}
                                <input type="submit" class="btn btn-success float-end mt-2 w-25" value="修改">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    let label = document.getElementsByTagName('label')
    label[0].innerHTML = '姓氏 :'
    label[1].innerHTML = '名字 :'
    label[2].innerHTML = '電話 :'
    label[3].innerHTML = '地址 :'
    label[4].innerHTML = '電子郵件 :'
    label[5].innerHTML = '照片修改 :'

</script>

{% endblock content %}

{% block scripts %}
<script type="">
    {% for message in messages %}
        alertify.success('{{message}}');
    {% endfor %}
</script>
{% endblock scripts %}
