{% extends 'store/layouts/main.html' %}
{% load static %}
{% block title %}PasswordChangeForm{% endblock title %}
{% block css %}
<style>
    .table label {
        margin-bottom: 10px;
    }
</style>
{% endblock css %}

{% block content %}
<div class="container mt-3">
    <h3 class="border-bottom my-4 pb-1 text-center">密碼修改</h3>
    <div class="row">
        <div class="col-md-3">
            {% include 'store/auth/dash_siderbar.html' %}
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <form action="" method="POST">
                <table class="table table-borderless">
                    {% csrf_token %}
                    {{form.as_table}}
                    <tr>
                        <td colspan="2">
                            <input type="submit" class="btn btn-dark float-end" value="送出">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
    
{% endblock content %}

{% block scripts %}
<script type="">
    {% for message in messages %}
        alertify.success('{{message}}');
    {% endfor %}
</script>
{% endblock scripts %}