{% extends 'store/layouts/main.html' %}
{% load static %}
{% block title %}PasswordChangeDone{% endblock title %}
{% block css %}
<style>
</style>
{% endblock css %}

{% block content %}
<div class="container mt-3">
    <h3 class="border-bottom my-4 pb-1 text-center">密碼修改</h3>
    <div class="row">
        <div class="col-md-3">
            {% include 'store/auth/dash_siderbar.html' %}
        </div>
        <div class="col-md-6 text-center">
            <h2 class="mt-5">密碼修改成功 ! !</h2>
        </div>
    </div>
</div>
    
{% endblock content %}

{% block scripts %}
<script type="">
    {% for message in messages %}
        alertify.success('{{message}}');
    {% endfor %}
</script>
{% endblock scripts %}