{% extends 'store/layouts/main.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
{% include 'store/inc/slider.html' %}
<div class="container mb-5">
    <div class="row">
        <div class="col-md-12">
            <h6 class="text-center mt-3">github連結 : <a href="https://github.com/howard1357997531/howard1357997535/tree/cart" target="_blank">https://github.com/howard1357997531/howard1357997535/tree/cart</a></h6>
            <h3 class="mt-2">熱門商品</h3>
            <hr>
            <div class="row owl-carousel owl-theme">
                {% for item in trending_products %}
                <div class="product_data item">
                    <div class="card">
                        <div class="card-body">
                            <a href="{% url 'productview' item.category.slug item.slug %}">
                                <div class="category-image">
                                    <img src="{% static item.product_imageURL %}" class="w-100" height="300px" alt="Product image">
                                </div>
                                <h4 class="text-center mt-2">{{item.name}}</h4>
                            </a>
                            <label class="me-3"><s>$ {{item.original_price}}</s></label>
                            <span class="float-end" style="color: red;">{{item.selling_price}} 元</span>
                            <br>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    {% csrf_token %}
                                    {% if item.quantity > 0 %}
                                        <input type="hidden" class="prod_id" value="{{item.id}}">
                                        <div class="input-group text-center">
                                            <button class="input-group-text decrement-btn">-</button>
                                            <input type="text" class="form-control text-center qty-input" name="quantity" value="1">
                                            <button class="input-group-text increment-btn">+</button>
                                        </div>
                                    {% endif %}
                                </div>
                                {% if item.quantity > 0 %}
                                    <div class="col-md-6 p-0">
                                        <span class="float-end">
                                            <button type="button" class="btn btn-primary me-2 addToCartBtn">
                                                加入購物車 <i class="fa fa-shopping-cart"></i>
                                            </button>
                                        </span> 
                                    </div>
                                {% else %}
                                    <div class="col-md-12 text-center">
                                        <button type="button" class="btn btn-danger disabled">
                                            售罄
                                        </button>
                                    </div>
                                {% endif %} 
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{{asd2}}
{% endblock content %}

{% block scripts %}
<script type="">
    //搜尋owl carousel → Home | Owl Carousel | 2.3.4 → Demos → Basic
    //還要去 Download 先下載，使用裡面的 CSS,JS
    $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    //dots:false,
    nav:true,
    responsive:{
        0:{         // 0-600 螢幕可見 item:1
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:4
        }
    }
})

    {% for message in messages %}
        alertify.success('{{message}}');
    {% endfor %}
</script>

{% endblock scripts %}

